node_modules
# Keep environment variables out of version control
.env
.next
prisma/dev.db
prisma/dev.db-journal

data.json
data2.json
data3.json
data4.json


.secret
.secret_old
.infuraid
note1.txt
notes.txt
.DS_Store
#Hardhat files
cache
artifacts
.DS_Store
